h1{
	color:blue;
	font-size:12px;
}
body{
	background-color:powderblue;
}
p{
	color:red;
	margin-top:100xp
}
table{
	border5px solid blue:
}
</style>
<script type="text/javascript">
function myfunction() {
	alert("Hello World!");
}
\button.onclick
("click",myFunction);
var buttons =
document.querySelectorAll
('button');
</script>
